.messageContainer{
    display: inline-block;
    padding: 30px;
}

.messageContainer:hover{
    background-color: #000000;
}
.senderName{
    font-weight: bolder;
    font-size: 20px;
}

.dateofRec{
    color: #C8B3D1;
}

.recMessage{
    color: #6A747D;
}

.rec {
  margin-top: 20px !important;
}

.send {
  
}
